/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&family=Orbitron:wght@400..900&display=swap");

@import "./assets/styles/variables.scss";
@import "./assets/styles/normalize.css";

@import "./assets/styles/ui.scss";

* {
  font-family: "Kanit", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: $background;
  color: $primary;
}
